<%= form_for(@employee) do |f| %>
  <p>Имя сотрудница <%= f.text_field :name, :placeholder => "Имя и Фамилия" %></p>
  <p>Оклад $<%= f.number_field :payrate, :placeholder => "Например $8.25 = 825" %></p>
  <%= f.submit "Сохранить" %>
<% end %>