/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import "bootstrap";
body {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	width: 1080px;
	margin: 0px auto;
	background: url("cream_dust.png");
}
::selection {
color: skyblue;
}
#sked {
	font-size: small;
	border-bottom: 1px solid #333;
	 
}

#sked {
	border-collapse: collapse;	
}

#sked td {
	border-bottom: 1px solid;
	border-left: 1px gray solid;
	border-top: 1px black dashed;

}

.employee_name {
	padding-right: 10px;
}
.dayweek {
}
.dayweek h6 {
	float: left;
	margin-right: 10px;
	padding-bottom: 28px;
}
.start {
	color: gold;
}
.end {
	color: blue;
}
.start, .end {
	width: 74px;
	padding-left: 95px;
	padding-top: 9px;
}
.dw {
	width: 216px;
	float: left;
	margin-bottom: 25px;
	margin-right: 13px;
	padding: 7px 3px;
	border-radius: 5px;
	box-shadow: 2px 1px 6px;
}
footer {
	padding-top: 50px;
}
.ranks {
	float: left;
	margin-right: 20px;
}
.schedules {
	clear: both;
}
main.container {
	background: rgba(255, 255, 255, 0.81);
	border-radius: 9px;
	padding: 10px 109px;
	border: #C4B8C4 1px solid;
	color: #700070;
	box-shadow: 2px 1px 38px -25px black;
	margin: 10px 9px 5px -3px;
    padding: 15px 5px 25px 20px;
    width: 98%;
}
