/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import "bootstrap";

body {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	width: 1080px;
	margin: 0px auto;
}
::selection {
color: skyblue;
}

#sked {
	font-size: small;
	border-bottom: 1px solid #333;
	 
}

#sked {
	border-collapse: collapse;	
}

#sked td {
	border-bottom: 1px solid;
	border-left: 1px gray solid;
	border-top: 1px black dashed;

}

.employee_name {
	padding-right: 10px;
}
.dayweek {
}
.dayweek h6 {
	float: left;
	margin-right: 10px;
	padding-bottom: 28px;
}
.start {
	color: gold;
}
.end {
	color: blue;
}
.start, .end {
width: 74px;
padding-left: 95px;
padding-top: 9px;
}
.dw {
width: 216px;
float: left;
margin-bottom: 25px;
margin-right: 13px;
padding: 7px 3px;
border-radius: 5px;
box-shadow: 2px 1px 6px;
}
.Mon {
 background: red;
}
.Tue {
 background: gray;
}
.Wed {
background: yellow;
}
.Thu {
background: green;
}
.Fri {
background: skyblue;
}
.Sat {
background: darkgray;
}
.Sun {
background: purple;
}

footer {
	padding-top: 50px;
}
.ranks {
	float: left;
	margin-right: 20px;
}
.schedules {
	clear: both;
}
main.container {
width: auto;
background: rgba(236, 229, 255, 0.08);
border-radius: 9px;
padding: 10px 109px;
border: #C4B8C4 1px solid;
color: #700070;
box-shadow: 2px 1px 38px -12px #000;
padding-top: 15px;
margin-right: -2px;
margin-top: 20px;
padding-bottom: 37px;
}
.calc {
	border-radius: 14px 14px 14px 14px;
	box-shadow: 2px 2px 6px rgb(35, 35, 35);
	background-color: rgb(158, 138, 255);
	text-shadow: 0px 0px 2px rgb(201, 195, 230);
	color: rgb(22, 21, 59);
	font-size: 14px;
	background-image: url("/images/button-smooth.png");
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 7px 20px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	padding: 6px 20px;
	background-image: -moz-linear-gradient(center top , rgb(160, 141, 255) 0%, rgb(104, 91, 181) 100%);
	background-image: -webkit-linear-gradient(center top , rgb(160, 141, 255) 0%, rgb(104, 91, 181) 100%);
	background-image: linear-gradient(center top , rgb(160, 141, 255) 0%, rgb(104, 91, 181) 100%);
	box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
	width: 89px;
}
.calc a {
	color: rgb(22, 21, 59);
}
.calc:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cac4e6), color-stop(100%, #827ea5));
	background-image: -moz-linear-gradient(top, #cac4e6 0%, #827ea5 100%);
	background-image: linear-gradient(top, #cac4e6 0%, #827ea5 100%);
	text-decoration: none;
}
section.rank1 {
border: red solid 1px;
margin-bottom: 10px;
}
section.rank2 {
border: yellow solid 1px;	
margin-bottom-bottom: 10px;
}
section.rank3 {
border: green solid 1px;	
margin-bottom: 10px;
}
.type3 {
 background-color: green;
}
.type1 {
 background-color: red;
}
.type2 {
 background-color: lightgray;
}