aside {
	float: left
}
main {
	float: left
}
footer {
	clear: both
}
.avaliabilities {
	background-color: gray;
}
li {
	list-style: none
}
aside.span3 {
background-color: #87CEEB;
padding: 14px 0px 6px 10px;
margin-left: -10px;
margin-top: 18px;
}
header {
text-align: center;
}