<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title><%=@title %></title>  

  <%= render :template => 'layouts/application' %>

  
  <%= csrf_meta_tag %>  
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  
</head>
<body>


</body>
</html>
